body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#333333;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


input[type=file] {
    display:none;
}

#labelFile {
    font-size:1.25em;
    font-weight:700;
    color: black;
    padding:10px;
    background-color:white;
    cursor:pointer;
    border-radius:5px;
    display: inline-block;    
    transition:background-color 0.2s;
}

h1, 
h2,
h4 {
    color:#20a8d8;
    text-transform:uppercase;
    font-weight:bold;
}

footer {
    color:white;
    font-weight:bold;
    font-size:18px;
}

#labelFile:hover {
    background-color:#20a8d8;
    transition:background-color 0.2s;
    cursor:pointer;
    color:white;
}

.table-grid{
    background-color:#f3F3F3;
    padding:10px;
    border-radius:5px;
}
