@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Workhub</h1>
    <p class="lead">Este é o projeto do candidato Hallan Franco para vaga de analista de sistemas.</p>
    <p><a href="Upload" class="btn btn-primary btn-lg">Veja o teste &raquo;</a></p>
</div>

